// Variables
// ---------

// Generic, non-specific variables.
$font-size: 16px;
$line-height: 24px;

$show-baseline-grid: false;


// Framework variables. We don't need to edit these, they're just handy variables sourced from other settings.
$spacing-unit: $line-height;